[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "==1.11"
django-registration = "==2.4.1"
django-bootstrap3 = "*"
django-crispy-forms = "*"

[requires]
python_version = "3.6"
